html, body {
    background: url("Images/veggieBackground.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
    overflow: hidden;
}

div.transbox {
    margin: 30px;
    background-color: #b4b4b4;
    border: 1px solid black;
    opacity: 0.8;
    filter: alpha(opacity=60);
    /*For IE8 and earlier*/
}

div.transbox p, div.transbox div{
    margin: 5%;
    font-weight: bold;
    color: #000000;
}

#element {
    background-color: white;
    opacity: .5;
    margin: auto;
}

#copyright {
    color: #808080;
}

.navbar-color{
    background-color: #b4b4b4;
    opacity: .8;
}

li {
    color: black;
}

.homepage {
    height: 500px;
    width: 100%;
}

div.homepage h1 {
    text-align: center;
}

div.homepage h4 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 75px;
}

button {
    background-color: burlywood;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.pic { 
    height: 200px;
    width: 200px;
}

.panel {
    background-color: burlywood;
}