@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


Pantry Party 

Where four everyday people decided they wanted to connect the world through food.
Pantry Party was M.A.D.E. for anyone and everyone that loves food and wants 
company to cook with. 

just wanting to connect the world through food





