@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

Pantry Party
An ASP.NET web application by four everyday people that
want to connect the world through food.
Pantry Party was M.A.D.E. for anyone and everyone that
loves coooking and hates eating alone.

Bringing good food and good people together since 2018