@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dan Edwards<br />
    <a href="https://github.com/edwardsdan/">GitHub</a><br />
    <a href="https://www.linkedin.com/in/edwardsdaniel1/">LinkedIn</a><br />
    <a href="mailto:edwardsdan001@gmail.com">Email</a><br />
    123-456-7890
</address>
<address>
    Matthew Miller<br />
    <a href="https://github.com/MattM424">GitHub</a><br />
    <a href="https://www.linkedin.com/in/matthew-j-m/">LinkedIn</a><br />
    <a href="mailto:matthewjmiller6775@gmail.com">Email</a><br />
    123-456-7890
</address>
<address>
    Audrae Christy<br />
    <a href="https://github.com/AudraeChristy">GitHub</a><br />
    <a href="https://www.linkedin.com/in/audrae-christy/">LinkedIn</a><br />
    <a href="mailto:audraechristy@gmail.com">Email</a><br />
    123-456-7890
</address>
<address>
    Everett Mayes<br />
    <a href="https://github.com/ewmayes">GitHub</a><br />
    <a href="">LinkedIn</a><br />
    @*<a href="mailto:edwardsdan001@gmail.com">Email</a><br />*@
    123-456-7890
</address>