@{
    ViewBag.Title = "Contact us via email, GitHub, or LinkedIn!";
}
<h2 style="text-align:center;">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
Pantry Party
An ASP.NET web application by four ordinary people that
want to connect the world through food
Pantry Party was M.A.D.E. for anyone and everyone that
loves coooking and hates eating alone.

Bringing good food and good people together since 2018<br /><br />
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <address>
                <img src="~/Content/Images/Matt.jpg" class="pic" /><br />
                Matthew Miller<br />
                <a href="https://github.com/MattM424">GitHub</a><br />
                <a href="https://www.linkedin.com/in/matthew-j-m/">LinkedIn</a><br />
                <a href="mailto:matthewjmiller6775@gmail.com">Email</a><br />
            </address>
        </div>
        <div class="col-lg-3">
            <address>
                <img src="~/Content/Images/Audi.jpg" class="pic" /><br />
                Audrae Christy<br />
                <a href="https://github.com/AudraeChristy">GitHub</a><br />
                <a href="https://www.linkedin.com/in/audrae-christy/">LinkedIn</a><br />
                <a href="mailto:audraechristy@gmail.com">Email</a><br />
            </address>
        </div>
        <div class="col-lg-3">
            <address>
                <img src="~/Content/Images/Dan.jpg" class="pic" /><br />
                Dan Edwards<br />
                <a href="https://github.com/edwardsdan/">GitHub</a><br />
                <a href="https://www.linkedin.com/in/edwardsdaniel1/">LinkedIn</a><br />
                <a href="mailto:edwardsdan001@gmail.com">Email</a><br />
            </address>
        </div>
        <div class="col-lg-3">
            <address>
                <img src="~/Content/Images/Everett.jpg" class="pic" /><br />
                Everett Mayes<br />
                <a href="https://github.com/ewmayes">GitHub</a><br />
                <a href="https://www.linkedin.com/in/everett-mayes/">LinkedIn</a><br />
                <a href="mailto:ewmayes@yahoo.com">Email</a><br />
            </address>
        </div>
    </div>
</div>
