@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<!DOCTYPE html>
<html>
<head>
    <style>

        div.transbox {
            margin: 30px;
            background-color: #ffffff;
            border: 1px solid black;
            opacity: 0.6;
            filter: alpha(opacity=60); /* For IE8 and earlier */
        }

            div.transbox p {
                margin: 5%;
                font-weight: bold;
                color: #000000;
            }
    </style>
</head>
<body>

    <div class="background">
        <div class="transbox">



            <address>
                Dan Edwards<br />
                <a href="https://github.com/edwardsdan/">GitHub</a><br />
                <a href="https://www.linkedin.com/in/edwardsdaniel1/">LinkedIn</a><br />
                <a href="mailto:edwardsdan001@gmail.com">Email</a><br />
                123-456-7890
            </address>
            <address>
                Matthew Miller<br />
                <a href="https://github.com/MattM424">GitHub</a><br />
                <a href="https://www.linkedin.com/in/matthew-j-m/">LinkedIn</a><br />
                <a href="mailto:matthewjmiller6775@gmail.com">Email</a><br />
                123-456-7890
            </address>
            <address>
                Audrae Christy<br />
                <a href="https://github.com/AudraeChristy">GitHub</a><br />
                <a href="https://www.linkedin.com/in/audrae-christy/">LinkedIn</a><br />
                <a href="mailto:audraechristy@gmail.com">Email</a><br />
                123-456-7890
            </address>
            <address>
                Everett Mayes<br />
                <a href="https://github.com/ewmayes">GitHub</a><br />
                <a href="">LinkedIn</a><br />
                @*<a href="mailto:edwardsdan001@gmail.com">Email</a><br />*@
                123-456-7890
            </address>






        </div>
    </div>

</body>
</html>