@using PantryParty.Models;
@using Microsoft.AspNet.Identity;
@* Remove table, add some cool elements that do cool stuff
    don't remove form or foreach loop*@

<table>
    <tr>
        <th>Name</th>
    </tr>
    @foreach (Ingredient ing in ViewBag.UsersListOfIngred)
    {
        <tr>
            <td>
                <h4>@ing.Name</h4>
            </td>
            <td>
                <form action="/Home/Delete" method="get">
                    <input type="hidden" value="@User.Identity.GetUserId()" name="CurrentUser" />
                    <input type="hidden" value="@ing.Name" name="ItemToDelete" />
                    <input type="submit" value="Delete" class="btn button"/>
                </form>
            </td>
        </tr>
    }
</table>




