@using PantryParty.Models;
@using Microsoft.AspNet.Identity;

@*<form action="/Home/SaveIngredChanges" method="get">
    Name: <input type="text" name="Name" value="@ViewBag.UsersListOfIngred.IndredientID" />
    <input type="submit" value="Submit" />

</form>*@

<table>
    <tr>
        <th>Name</th>
    </tr>
    @foreach (Ingredient ing in ViewBag.UsersListOfIngred)
    {
        <tr>
            <td>
                <h4>@ing.Name</h4>
            </td>
            <td>
                <form action="/Home/Delete" method="get">
                    <input type="hidden" value="@User.Identity.GetUserId()" name="CurrentUser" />
                    <input type="hidden" value="@ing.Name" name="ItemToDelete" />
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    }
</table>




