
@*This is just to test the distance matrix*@
@using Microsoft.AspNet.Identity;
<br />
<form action="/Home/FindNearbyUsers" method="post">
    <input type="hidden" name="UserId" value="@User.Identity.GetUserId()"/>
    <input type="submit" value="submit" />

</form>