@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hi!</h1>
    <p class="lead">Welcome to Pantry Party! </p>
    <p><a href="/Account/Register" class="btn btn-primary btn-md">Register here!</a></p>
</div>



<form action="/Home/FridgeItems" method="get">
    <input type="text" name="input"/>
    <input type="hidden" name="UserID" value="@User.Identity.GetUserId()"/>
    <input type="submit" value="Find recipes"/>
</form>

