
@using Microsoft.AspNet.Identity

<head>
    <link href="~/Content/styles.css" rel="stylesheet" />
</head>

    <div class="transbox">
        <p>This is some text that is placed in the transparent box.</p>
    </div>





<style>
    #element {
        background-color: purple;
        opacity: .5;
        margin: auto;
    }
</style>





