@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hi!</h1>
    <p class="lead">Welcome to Pantry Party! </p>
    <p><a href="/Account/Register" class="btn btn-primary btn-md">Register here!</a></p>
</div>

<h2>Want to start a meal?</h2>
<h4>Enter your ingredients separated only by commas (i.e. apples,flour,sugar)</h4>

<form action="/Home/FridgeItems" method="get">
    <input type="text" name="Ingredients"/>
    <input type="submit" value="DON'T PRESS THIS BUTTON UNLESS YOU ABSOLUTELY HAVE TO"/>
</form>

