
@using Microsoft.AspNet.Identity;
@*<body style="object-position: bottom,center url(https://i.pinimg.com/564x/b8/20/67/b820675b12cb2fdda08275892583b437.jpg)">
    </body>*@

<title>PantryParty</title>
<center>
    <br /><img src="https://media.istockphoto.com/photos/banana-picture-id120492078?k=6&m=120492078&s=612x612&w=0&h=a4FNBRMoufM4ewkS2RiChWoO3be5HTmRl6_6dP9QB9I="
               style="width:150px;height:100px;" /><br />
    <h4>Welcome to Pantry Party</h4>
    <font size="3">Login or Register</font>
</center>
<center>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <form action="/Account/Register" method="get">
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
</div>
    </center>


<div style="background:url(https://i.pinimg.com/564x/b8/20/67/b820675b12cb2fdda08275892583b437.jpg) white bottom center no-repeat scroll"></div>
