@{
    ViewBag.Title = "Home Page";

}
@using Microsoft.AspNet.Identity;

@*<h3>Search recipes by your ingredients: </h3><br /><br />

    <form action="/Home/FridgeItems" method="get">
        <input type="text" name="input" />
        <input type="hidden" name="UserID" value="@User.Identity.GetUserId()" />
        <input type="submit" value="Find recipes" />
    </form>*@

<!--or login-->

<title>PantryParty</title>
<center>
    <h4>Welcome to Pantry Party</h4>
    <h2>Please login or Register</h2>
    </center>

<center>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
</center>
