
@using Microsoft.AspNet.Identity
@*<body style="object-position: bottom,center url(https://i.pinimg.com/564x/b8/20/67/b820675b12cb2fdda08275892583b437.jpg)">
    </body>*@

<title>SpagheTogether</title>
<center>
    <br /><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoqLtymqUR0e0ibINyF9XL-Vvfx-n-ly18H_4rU-0Un-fQVaMh"
               style="width:150px;height:100px;" /><br />
                                                   <h4>Welcome to SpagheTogether</h4>
    <font size="3">Login or Register</font>
</center>
<center>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <form action="/Account/Register" method="get">
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
</div>
    </center>



