
@using Microsoft.AspNet.Identity

<head>
    <link href="~/Content/styles.css" rel="stylesheet" />
</head>

    <div class="transbox homepage">
        <h1>Welcome to Pantry Party!</h1>
        <h4>Bringing good food and good people together since 2018</h4>
    </div>
