
@using Microsoft.AspNet.Identity
@*<body style="object-position: bottom,center url(https://i.pinimg.com/564x/b8/20/67/b820675b12cb2fdda08275892583b437.jpg)">
    </body>*@

<title class="myButton">Pantry Party</title>
<center>
    <br /><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoqLtymqUR0e0ibINyF9XL-Vvfx-n-ly18H_4rU-0Un-fQVaMh"
               style="width:150px;height:100px;" /><br />
    <h4>Welcome to Pantry Party</h4>
    <font size="3">Login or Register</font>
</center>

<center>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <form action="/Account/Register" method="get">
                <button type="button" class="btn btn-dark">Register</button>
            </form>
        </div>
    </div>
</center>

@*<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="https://cf.ua/m/blog/b5c556dd9023dbeeee7268ef6744b37b/images/32/57553d76dc12d_compressed20161005.jpg" alt="P1">
        </div>
        <div class="item">
            <img src="https://abeautifulmess.typepad.com/.a/6a00d8358081ff69e201a3fad0ff11970b-800wi" alt="P2">
        </div>

        <div class="item">
            <img src="https://weglasserei.de/wp-content/uploads/2017/07/restaurant_mit_unvertraeglichkeiten.jpg" alt="P3">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>*@

