
@using Microsoft.AspNet.Identity
@*<body style="object-position: bottom,center url(https://i.pinimg.com/564x/b8/20/67/b820675b12cb2fdda08275892583b437.jpg)">
    </body>*@

@*<title class="myButton">Pantry Party</title>
    <center>
        <br /><img src="https://qph.fs.quoracdn.net/main-qimg-9b4918b6abb625d0998fde183f7d3479"
                   style="width:150px;height:100px;" /><br />
        <h4>Welcome to Pantry Party</h4>
        <font size="3">Login or Register</font>
    </center>*@


@*<!DOCTYPE html>
    <head>
        <style>
        body, html { background-image: url("https://images.pexels.com/photos/349609/pexels-photo-349609.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
                     background-position: 50% 50%; background-repeat: no-repeat; height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover; }
        </style>
    </head>*@


<!DOCTYPE html>
<html>
<head>
    <style>
        
        div.transbox {
            margin: 30px;
            background-color: #ffffff;
            border: 1px solid black;
            opacity: 0.6;
            filter: alpha(opacity=60); /* For IE8 and earlier */
        }
            div.transbox p {
                margin: 5%;
                font-weight: bold;
                color: #000000;
            }
    </style>
</head>
<body>

    <div class="background">
        <div class="transbox">
            <p>This is some text that is placed in the transparent box.</p>
        </div>
    </div>

</body>
</html>


<div>
    <center>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <form action="/Account/Register" method="get">
                    <button type="button" class="btn btn-dark">Register</button>
                </form>
            </div>
        </div>
    </center>
</div>


<style>
    #element {
        background-color: white;
        opacity: .5;
        margin: auto;
    }
</style>


