@using PantryParty.Models;
<!-- Displays list of recipes with a maximized amount of user's ingredients-->

@foreach (Recipe recipe in ViewBag.RecipeInfo)
{
    <h2>@recipe.Title</h2>
    <p>@recipe.CookTime minutes</p>
    <img src="@recipe.ImageURL" />
    <a href="@recipe.RecipeURL">Link to recipe</a><br /><br />
}

<!-- Display link using user's address to nearby grocery stores-->