
@using Microsoft.AspNet.Identity;

<br />
<h1>Search Recipes</h1>
<h3>Search recipes by the following ingredients: </h3>
<h3>Please use commas to separate each item. (ex: apples,sugar,cinnamon)</h3><br />

<form action="/Home/FridgeItems" method="get">
    <input type="text" name="input" />
    <input type="hidden" name="UserID" value="@User.Identity.GetUserId()" />
    <input type="submit" value="Find recipes" />
</form>
<br /><br /><br />
<h4>still need to add: search saved recipes/update user info</h4>