<!--this view shows when you are logged in-->
<!--still need Welcome() controller-->
@using Microsoft.AspNet.Identity;

<h3>Search recipes by your ingredients: </h3><br /><br />

<form action="/Home/FridgeItems" method="get">
    <input type="text" name="input" />
    <input type="hidden" name="UserID" value="@User.Identity.GetUserId()" />
    <input type="submit" value="Find recipes" />
</form>
<br /><br /><br />
<h2>add: search saved recipes/update user info</h2>